@media (max-width:1600px){

}
@media (max-width:1300px){
    .Restrict{padding: 0 30px;}
}
@media (max-width:1024px){
    .Restrict{padding: 0 20px;}
}
@media (max-width:768px){

}
@media (max-width:600px){
    .Restrict{padding: 0 10px;}
}
@media (max-width:320px){

}
